body, html{
	margin: 0;
}
.background{
	background-color: blue;
	color: white;
	flex: 0 0 auto;
	height: 50px;
	padding: 5px;
}
.img{
	height: 200px;
	width: 200px;
}
.wrapper{
	width: 80%;
	margin: auto;
}
h1{
	width: 80%;
	margin: auto;
}
.form-group {
	display: flex;
	margin-bottom: 10px;
}
textarea{
	width: 80%; 
    resize: none;
	margin-left: 5px;
}
button{
	resize: none;
}
h3{
	text-align: right;
}